@import "tailwindcss";

/* =========================
   CUSTOM FONT
   ========================= */

@font-face {
  font-family: "MyCustomFont-light";
  src: 
       url("/fonts/Kodchasan-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyCustomFont-bold";
  src:
       url("/fonts/Kodchasan-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   THEME
   ========================= */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "MyCustomFont";
  --font-mono: "MyCustomFont";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  font-family: "MyCustomFont-light", Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "MyCustomFont-light", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MyCustomFont-bold", Arial, Helvetica, sans-serif;
} 